.breadcrumbs {
	text-align: left;
	font-size: 28px;
}

#detailee_intro {
	margin-top: 60px;
}

.detailee_name {
	text-align: left;
	font-size: 45px;
	margin-top: 10px;
	font-weight: bolder;
}

.bio_first_half {
	margin-top: 20px;
	text-align: left;
}

.bio_first_half p {
	margin: 10px;
}

.bio_first_half img {
	margin: 20px;
}

.bio_second_half {
	text-align: left;
}

.bio_second_half img {
	margin: 20px;
}