#scholar_intro h2 {
	text-align: left;
	font-weight: 900;
}

.intro_title {
	margin-top: 60px;
	color: black;
}

.intro_text {
	text-align: left;
	color: black;
}

.schol_options .col-md-3 {
	width: 27%;
	margin-left: 15px;
	margin-right: 15px;
}

.schol_options > div {
	background-color: grey;
}