.breadcrumbs {
	text-align: left;
	font-size: 20px;
}

#new_course_page {
	margin-top: 60px;
}

.course_info  {
	text-align: left;
}

.course_info h3 {
	font-weight: bolder;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
}

.course_info p {
	font-size: x-large;
}

.course_info > div {
	margin-top: 10px;
	margin-bottom: 30px;
}

.class_buttons_div {
	text-align: center;
}

.class_buttons button {
	width: 130px;
	white-space: normal;
	height: 60px;
	vertical-align: top;
	text-transform: uppercase;;
	font-size: large;
}

.course_sidebar {
	background-color: lightgrey;
	padding-left: 0px;
	padding-right: 0px;
}

.upcoming_course_div {
	background-color: yellow;
	padding-top: 22px;
	padding-bottom: 10px;
}

.upcoming_course_div h3 {
	margin-top: 0px;
	font-weight: bolder;
	margin-bottom: 0px;
}

.course_sidebar .glyphicon {
	font-size: 40px;
}

.course_sidebar h4 {
	display: inline-block;
}

.upcoming_course_info {
	text-align: left;
}

.upcoming_course_info h4 {
	font-weight: bolder;
}

.upcoming_course_info > div {
	padding-left: 20px;
	padding-bottom: 10px;
}

.register_button {
	background-color: lightgreen;
	padding-top: 22px;
	padding-bottom: 22px;
}

.register_button h3 {
	margin-top: 0px;
	font-weight: bolder;
	margin-bottom: 0px;
}