<div class="section text-gradient" id="whatWeOffer">
            <div class="container">
                <div class="col-md-12">
                <br>
                <br>
                <br>
                <br>
                    <h2 class="title courseTitleStyling" data-animate="fadeInDown">What We Offer</h2>

                    <div class="row services"> <!-- change this to courses after you copy the styles -->
                        
                        <div class="col-md-3 hvr-underline-from-left" style="cursor:pointer" id="frontEndIcon" data-animate="fadeInUp">
                            <div class="icon" ><img src="images/code-icon.png" class="design-icons"> 
                            </div>
                            <h3 class="heading"> <br> Development</h3>
                        </div>

                        <div class="col-md-3 hvr-underline-from-left" style="cursor:pointer" id="dataScienceIcon" data-animate="fadeInUp">
                            <div class="icon" ><img src="images/graph-icon.png" class="design-icons"> 
                            </div>
                            <h3 class="heading">Data <br> Science</h3>
                        </div>

                        <div class="col-md-3 hvr-underline-from-left" style="cursor:pointer" id="UXIcon" data-animate="fadeInUp">
                            <div class="icon" ><img src="images/hand-icon.png" class="design-icons"> 
                            </div>
                            <h3 class="heading">UX/UI <br> Design</h3>
                        </div>
                        
                    </div>

                    <hr>

                    <div class="row generalFields center-block">

                        <div class="generalFieldsTitle"><h4> Development </h4></div>
                        <div class="generalFieldsDescription"> <p>Development includes front-end languages like HTML, CSS, Javascript, and jQuery to give style and interactivity to websites, as well as back-end languages like Python, Ruby, and Node.js to program behind-the-scenes functionality of websites.
                        </p></div>
                        <div class="generalFieldsKeywords"><h4>Keywords:</h4><p> HTML, CSS, JavaScript, MVC Frameworks, jQuery, React.js, Bootstrap, Python, Ruby, Rails, Docker, MySQL, Django</p></div>

                    </div>

                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** REFERENCES IMAGE ***
_________________________________________________________ -->
        <div class="section" id="currentCourses">
            <div class="container">
                <div class="col-sm-12">
                <br>
                <br>
                <br>
                <br>
                <h2 class="title" data-animate="fadeInDown">Current Courses</h2>
                    <div class="mb20">
                        <p class="lead" data-animate="fadeInUp">Please click a type of class below to see our upcoming offerings!</p>
                    </div>

                    <ul id="filter" data-animate="fadeInUp">
                        <li class="active"><a href="#" data-filter="all">All</a></li>
                        <li><a href="#" data-filter="development">Development</a></li>
                        <li><a href="#" data-filter="datascience">Data Science</a> </li>
                        <li><a href="#" data-filter="uxui">UX/UI Design</a></li>
                    </ul>

                    <div id="detail">

                        <span class="close">&times;</span> 

                        <div id="detail-slider"></div>

                        <div class="text-center">
                            <h1 id="detail-title">&nbsp;</h1>
                        </div>

                        <div id="detail-content"></div>

                    </div>
                    <!-- Reference detail -->

                    <div id="references-masonry" data-animate="fadeInUp">

                        <div class="reference-item" data-category="datascience">
                            <div class="reference">
                                <a href="#">
                                    <img src="Mixit_Panels/7-11-16.png" class="img-responsive" alt="" />

                                </a>
                                 <!-- Everything in this  <div> is essentially the modal -->
                                <div class="sr-only reference-description">

                                    <h3 class="reference-title">Intro to Machine Learning</h3> 

                                    <p class="courseDescription">Basic introduction to machine learning: what it is, how it works, and how to get started with machine learning in Python using the Scikit-learn API.</p>

                                    <span class="courseSpanTag"><p class="courseListingKeys">Topics to Be Covered: </p><p>Supervised Learning, Unsupervised Learning, Scikit-Learn, Dimensionality Reduction, Preprocessing</p></span>

                                    <span class="courseSpanTag"><p class="courseListingKeys">Recommended Pre-Requisite: </p><p>Intro to Python, Data Wrangling with Pandas</p></span>

                                    <span class="courseSpanTag"><p class="courseListingKeys">Date & Time: </p><p>7/11/2016 1:00 - 4:00PM ET</p></span>

                                    <span class="courseSpanTag"><p class="courseListingKeys">Instructor: </p><p>Rebecca Bilbro, Star Ying</p></span>

                                    <span class="courseSpanTag"><p class="courseListingKeys">Software Needed: </p><p>Git, GitHub, Python, Pip, Sublime or Atom.io, Terminal or Powershell, Pandas, Sqlite3, Scipy, Numpy, Scikit-Learn, Matplotlib, iPython or Jupyter, Bokeh, Seaborn</p></span>

                                    <p class="buttons">
                                        <a class="btn btn-primary classRegistrationButton" href="http://goo.gl/forms/Qrzw9eq6pZ" target="_blank"><i class="fa fa-globe"></i> Register</a>
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="reference-item" data-category="development">
                            <div class="reference">
                                <a href="#">
                                    <img src="Mixit_Panels/dev-coming-soon.png" class="img-responsive" alt="" />
                                </a>
                                
                                <div class="sr-only reference-description">
                                    <h3 class="reference-title">Coming Soon!</h3> 
                                </div>
                            </div>
                        </div>

                        <div class="reference-item" data-category="uxui">
                            <div class="reference">
                                <a href="#">
                                    <img src="Mixit_Panels/ux-coming-soon.png" class="img-responsive" alt="" />
                                </a>
                                
                                <div class="sr-only reference-description">
                                    <h3 class="reference-title">Coming Soon!</h3> 
                                </div>
                            </div>
                        </div>

                        <div class="reference-item" data-category="development">
                            <div class="reference">
                                <a href="#">
                                    <img src="Mixit_Panels/dev-coming-soon.png" class="img-responsive" alt="" />
                                </a>

                                <div class="sr-only reference-description">
                                    <h3 class="reference-title">Coming Soon!</h3> 
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <!-- /.12 -->
    <!-- </div> -->
            <!-- /.container -->
    <!-- </div> -->
        <!-- /.section -->

        <!-- *** WHAT WE OFFER END *** -->

        <!-- *** FAQ START *** -->
        <div class="section" id="FAQ">
            <div class="container">
                <br>
                <br>
                <br>
                <br>
                <h2 class="title FAQTitle">FAQ</h2>
                <div class="panel-group" id="accordion">
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">What is the goal of Commerce Data Academy?</a>
                    </h4>
                  </div>
                  <div id="collapse13" class="panel-collapse collapse">
                    <div class="panel-body">Created by the <a href="https://www.commerce.gov/dataservice/" class="about-link" target="blank">Commerce Data Service</a>, the goal of the Commerce Data Academy is to help educate and empower employees within the Department of Commerce to make data-driven decisions.</div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">What is the Commerce Data Service?</a>
                    </h4>
                  </div>
                  <div id="collapse14" class="panel-collapse collapse">
                    <div class="panel-body">The Commerce Data Service is a public startup within the Office of the Secretary, tasked with enhancing the contribution of data to the economy and American well-being. It helps the 12 Bureaus of the U.S. Department of Commerce to rapidly create and develop projects to advance the Department's mission. Organized as a new shared services model, the Data Service tackles core infrastructure issues around the Commerce Department and helps enrich human capital.</div>
                  </div>
                </div>                

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">How do I register for classes?</a>
                    </h4>
                  </div>
                  <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">To register, please complete the following Google form: <a href="http://goo.gl/forms/Egs7qV9iox" target="blank">http://goo.gl/forms/Egs7qV9iox</a> After submitting the form, you will be directed to EventBrite so you can register for the specific courses you are interested in.</div>
                  </div>
                </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Are the courses recorded?  Where are they available?  How can we view them?</a>
                            </h4>
                        </div>
                        <div id="collapse8" class="panel-collapse collapse">
                            <div class="panel-body">All classes are recorded and are available within a week following the course date.  The recordings are available at: <a href="https://github.com/CommerceDataService/DataAcademy/blob/dev/CoursesMaterialLinks.md" target="blank">
                            https://github.com/CommerceDataService/DataAcademy/blob/dev/CoursesMaterialLinks.md </a>
                            <br>
                            You will need to download a WebEx player to view the courses. A link to download the player, for both PC and Macs, can be found at the link above.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Will any of the classes be given again?</a>
                            </h4>
                        </div>
                        <div id="collapse9" class="panel-collapse collapse">
                            <div class="panel-body">Although there are no immediate plans for offering these courses again, depending on schedules and resources, we may be able to hold these classes again at a later date.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">How can we meet the prerequisites if we were not able to attend the required course?</a>
                            </h4>
                        </div>
                        <div id="collapse10" class="panel-collapse collapse">
                            <div class="panel-body">The prerequisite requirements were intended to ensure that our students would derive the greatest benefit from the course.  Depending on the course, the instructor may offer alternative preparation (such as viewing recorded classes) to enhance your learning experience.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">Are contractors able to attend these training opportunities?</a>
                            </h4>
                        </div>
                        <div id="collapse11" class="panel-collapse collapse">
                            <div class="panel-body">This training is open to both contractors and employees.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Will I need to download any software for this course?</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">Yes. We will send you further details and instructions after registration for this course closer to the start date.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">Is this software supported by DOC?</a>
                            </h4>
                        </div>
                        <div id="collapse12" class="panel-collapse collapse">
                            <div class="panel-body">The current set of free productivity tools used in the Commerce Data Academy courses are allowed by DOC guidance. Your Bureau’s CIO may impose more strict guidelines.  Please check with them prior to installing the software.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">What are my transport/parking options getting to the event</a>
                        </h4>
                      </div>
                      <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">There is parking available at the Ronald Reagan building.</div>
                      </div>
                    </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Where can I contact the organizer with any questions?</a>
                    </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">Prior to the event, please feel free to send us an email at <a href="mailTo:dataacademy@doc.gov">DataAcademy@doc.gov</a>. If you have any problems the day-of please feel free to call Pam Moulder at 202-482-5997 or the Data Academy team at 202-482-2884</div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Can I update my registration information?</a>
                    </h4>
                  </div>
                  <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">Yes. Please click the Register button and set-up an account at <a href="https://www.eventbrite.com/" target="blank">Eventbrite.com</a> where you can make changes to your registration and tickets.</div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">What are the directions to the Commerce Law Library?</a>
                    </h4>
                  </div>
                  <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">

                        <span>
                        <p> Directions from within HCHB </p>
                        The Commerce Research Library has two entrances and is located in northwest corner of the building on the 1st floor, directly below the gym.  The entrance at Room 1894 can be accessed via the 8th corridor elevator at the north end of the building.  The second entrance at Room 1984 and can be accessed from the 6th corridor elevator. 
                        </span>
                        
                        <span>
                        <p> Directions from outside of HCHB (DOC staff only) </p>
                        HCHB is located at 1401 Constitution Avenue, NW and is easily accessible from two metro stations, Federal Triangle &amp; Metro Center.  The closest entrance to the library is on the corner of 14th &amp; Pennsylvania Ave. Check in at that entrance with the guards, then follow the red signs to the Commerce Research Library.  Questions?  Call us at 202-482-1154.  Bringing a visitor?  See full directions on our website.
                        </span>
                    </div>
                  </div>
                </div>
                </div> 
            </div> <!-- container div --> 
        </div>

        <!-- *** CONTACT ***
_________________________________________________________ -->

        <div class="section contact" id="contact" data-animate="bounceIn">
            <div class="container">
                <div class="col-md-8">
                <div class="row">
                    <div>
                        <div class="col-md-4">
                                <a href="http://www.commerce.gov/dataservice"><img alt="Commerce Data Service" id="cdcthumbnail" src="images/cdc-temp-logo-v2.png" ></a>
                        </div>
                        
                        <p class="col-md-7" style="text-align: left">The <a href="https://www.commerce.gov/dataservice/" style="color: #004273">Commerce Data Service</a> is a public startup within the Office of the Secretary, tasked with enhancing the contribution of data to the economy and American well-being. Our team of skilled engineers, data scientists, and UX/UI experts are teaching Commerce Data Academy courses.
                        <br><br>
                        The goal of the Commerce Data Academy is to help educate and empower employees within the Department of Commerce to make data-driven decisions.</p>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px">
                    <div>
                        <div class="col-md-4">
                            <a href="mailto:DataAcademy@doc.gov"><img src="images/envelope_logo.jpg"></a>
                        </div>
                        <span class="col-md-6" style="text-align: left">
                            <h3 style="margin-top: 0px" class="contactUsH3">Contact Us</h3>
                            <a href="mailto:DataAcademy@doc.gov"><p style="color:#002952">Please send an email to:</p>
                            <h4 class="contactUsEmail"><strong>DataAcademy@doc.gov</strong></h4></a>
                        </span>

                    </div>
                </div>    
                </div>

                <div class="col-md-3 collaboratorDiv">
                    <h3 style="margin-top: 0px"> Collaborators:</h3>
                    <a href="https://generalassemb.ly/washington-dc"><div><img src="images/GA_logo.png"></div></a>
                    <a href="http://datasociety.co/"><div><img src="images/Data-Society-Logo.png" id="datasocietylogo"></div></a>
                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>